<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heneng.demo.dao.JudMapper">
    <insert id="insertJud" parameterType="com.heneng.demo.model.Jud">
        INSERT INTO user_jud (id,user_uid,jud_id)
            VALUES
	        ( #{user_id}, #{jud_id});

    </insert>
</mapper>