<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heneng.demo.dao.RoleMapper">

    <insert id="insertRole" parameterType="com.heneng.demo.model.Role">
        INSERT INTO user_role (id,user_uid,role_id)
            VALUES
	        ( #{user_id}, #{role_id});

    </insert>

</mapper>
