<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heneng.demo.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.heneng.demo.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="passWord" property="passWord" jdbcType="VARCHAR"/>
        <result column="uPudB" property="uPudB" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,userName,account,passWord,uPwdB
    </sql>

    <select id="login" resultType="com.heneng.demo.model.User" parameterType="java.lang.String">
        select *
        from user
        where account=#{account} and passWord=#{passWord}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" >
        select * from user
    </select>

    <select id="selectUserById" resultType="com.heneng.demo.model.User" parameterType="java.lang.Long">
        select * from user where id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.heneng.demo.model.User">
        insert
        into user (id,uid,username,account,passWord,upwdb)
        values (#{id},#{uid},#{userName},#{account},#{passWord},#{upwdb})
    </insert>

    <delete id="deleteUserById"  parameterType="java.lang.Long">
        delete
        from user
        where id = #{id}
    </delete>

    <update id="updateUser" parameterType="java.lang.Integer" >
        update user
        set

        <if test="uid != null">
            uid = #{uid}
        </if>

        <if test="userName != null">
            ,username = #{userName}
        </if>

        <if test="account != null">
            ,account = #{account}
        </if>

        <if test="passWord != null">
        ,passWord = #{passWord}
        </if>

        <if test="upwdb != null">
            ,upwdb = #{upwdb}
        </if>
        where id = #{id}
    </update>

    

    <insert id="insertUserRole" parameterType="java.util.Map" >
        insert into
        user_role (user_uid,role_id)
        values (#{uid},#{roleId})
    </insert>

    <delete id="deleteUserRole" parameterType="java.util.Map" >
        delete
        from user_role
        where user_uid = #{uid} and role_id = #{roleId}
    </delete>

    <update id="updateUserRole" parameterType="java.util.Map" >
        update user_role
        set
            role_id = #{NroleId}
        where user_uid = #{uid} and role_id =#{OroleId}
    </update>

    <select id="selectUserRole" resultType="java.lang.Integer" parameterType="java.lang.String">
        select role_id
        from user_role
        where user_uid = #{uid}
    </select>

    <select id="selectUserRoleAll" resultType="java.util.HashMap" >
        select *
        from user_role
    </select>




    <insert id="insertUserJud" parameterType="java.util.Map" >
        insert into
        user_jud (user_uid,jud_id)
        values (#{uid},#{judId})
    </insert>

    <delete id="deleteUserJud" parameterType="java.util.Map" >
        delete
        from user_jud
        where user_uid = #{uid} and jud_id = #{judId}
    </delete>

    <update id="updateUserJud" parameterType="java.util.Map" >
        update user_jud
        set
            jud_id = #{NjudId}
        where user_uid = #{uid} and jud_id =#{OjudId}
    </update>

    <select id="selectUserJud" resultType="java.lang.Integer" parameterType="java.lang.String">
        select jud_id
        from user_jud
        where user_uid = #{uid}
    </select>

    <select id="selectUserJudAll" resultType="java.util.HashMap" >
        select *
        from user_jud
    </select>




    <insert id="insertUserDept" parameterType="java.util.Map" >
        insert into
        user_dept (user_uid,dept_id)
        values (#{uid},#{deptId})
    </insert>

    <delete id="deleteUserDept" parameterType="java.util.Map" >
        delete
        from user_dept
        where user_uid = #{uid} and dept_id = #{deptId}
    </delete>

    <update id="updateUserDept" parameterType="java.util.Map" >
        update user_dept
        set
            dept_id = #{NdeptId}
        where user_uid = #{uid} and dept_id =#{OdeptId}
    </update>

    <select id="selectUserDept" resultType="java.lang.Integer" parameterType="java.lang.String">
        select dept_id
        from user_dept
        where user_uid = #{uid}
    </select>

    <select id="selectUserDeptAll" resultType="java.util.HashMap" >
        select *
        from user_dept
    </select>


</mapper>